@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border !no-ring;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Custom styles */
@font-face {
  font-family: "Geist";
  src:
    url("/fonts/Geist-Regular.woff2") format("woff2"),
    url("/fonts/Geist-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src:
    url("/fonts/Geist-Bold.woff2") format("woff2"),
    url("/fonts/Geist-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

html.font-system-ui {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif !important;
}

#auth-layout:not(.dark #auth-layout) {
  background-image: url("/img/beams.jpg");
  @apply bg-cover bg-center;
}

.dark body {
  background-image: none;
}

/* Main progress bar */
#nprogress {
  pointer-events: none;
  z-index: 9999;
}

#nprogress .bar {
  background: theme("colors.sky.400") !important;
  height: 2px !important;
}

.dark #nprogress .bar {
  opacity: 0.8;
}

/* Loading "glow" */
#nprogress .peg {
  box-shadow:
    0 0 10px theme("colors.sky.400"),
    0 0 5px theme("colors.sky.400") !important;
}

/* active links */
div[data-radix-scroll-area-viewport] > div:first-child {
  height: 100%;
}

a.active {
  color: var(--primary);
}

/* selection */
*::selection {
  background-color: hsl(var(--secondary));
  color: hsl(var(--foreground));
}

textarea::selection {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
}

/* settings nav */
#settings-nav a.active {
  background: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
}

.dark #settings-nav a.active {
  background: hsl(var(--secondary));
  color: hsl(var(--foreground));
}

/* custom scroll bar */

*::-webkit-scrollbar-track {
  background-color: hsl(var(--secondary));
  border-radius: 8px;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: hsl(var(--secondary));
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: hsl(var(--background));
}

/* Contribution Guidelines Table */
#contribution-guidelines table {
  @apply w-fit border-collapse text-left text-base;
}

#contribution-guidelines td,
#contribution-guidelines th {
  @apply border px-3 py-1 !font-normal;
}

/* Custom scrollbar */
body {
  --sb-track-color: hsl(var(--muted));
  --sb-thumb-color: hsl(var(--background));
  --sb-size: 4px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
