APP_SETTINGS = "config.DevelopmentConfig"
APP_NAME = ""
SECRET_KEY = ""
MYSQL_USER = ""
MYSQL_PWD = ""
MYSQL_HOST = ""
MYSQL_DB = ""
JWT_SECRET_KEY = ""
FRONTEND_URL = "http://127.0.0.1:3000"
GEMINI_API_KEY = ""
GOOGLE_CLIENT_ID = ""
GOOGLE_CLIENT_SECRET = ""
MAIL_SERVER = ""
MAIL_PORT = 587
MAIL_USERNAME = ""
MAIL_PASSWORD = ""
MAIL_USE_TLS = True
MAIL_USE_SSL = False
FIREBASE_SERVICE_ACCOUNT_PATH="app/firebase/serviceAccountKey.json"
